body{
    background-color: #E0E0E0;
    color: #0B1D3F;
}

th{
    font-weight: 300;
}

.postion,.club,.points{
    font-weight: bold;
}

.postion{
    width: 5%;
}

.number-columns{
    width: 7%;;
}

.podium{
    background-color: #E6E6E6;
}
.first{
    color: white;
    background-color: #0B1D3F;
}
.lightlast{
    background-color: #B3B3B3;
}
.last{
    background-color:#808080;
}
img{
    width: 40px;
    height: 40px;
}

.dot{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}
.twin{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 7px 12px;
    border-color: transparent transparent #21cd35;;
}

.tlose{
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 7px 0;
    border-color: #ec2024 transparent transparent ;;
}

.win{
    background-color: #21cd35;
}

.lose{
    background-color: #ec2024;
}

.nul{
    background-color: #ABABAB;
}
